/* normalize.css */

/* Document
   ========================================================================== */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */

body {
    margin: 0;
}

main {
    display: block;
}

/* Grouping content
   ========================================================================== */

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* Text-level semantics
   ========================================================================== */

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    text-decoration: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

/* Embedded content
   ========================================================================== */

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Forms
   ========================================================================== */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

/* Lists
   ========================================================================== */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Universal Reset
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}